/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button{
	font-family: unset;
	background: none;
}
a, a:visited{
	text-decoration: none;
}
/** end reset css**/
html{
	background-color: #FFFEF8;
}
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1 a{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 a > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: flex-start;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}
nav li a{
	color: #000000;
}
nav li a:hover{
	color: #B1663C;
}
nav img{
	width: 1.2rem;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
	position:relative
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.filters{
	display: flex;
	justify-content: center;
	column-gap: .8rem;
	margin-bottom: 3rem;
}
.filter{
	padding: .5rem 2rem;
	border: 1px solid #1D6154;
	color: #1D6154;
	border-radius: 2rem;
	font-weight: 700;
	font-family: 'Syne';
	cursor: pointer;
	font-size: 1rem;
	transition: background-color .2s ease-in;
}
.filter:not(.selected):hover{
	background-color: #1d615417;
}
.selected{
	background-color: #1D6154;
	color: white;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
.active{
	font-weight: bold;
}
#contact{
	width: 40%;
	margin: auto;
}
#login{
	width: 50%;
	margin: 150px auto 350px;
}
#contact, #login > * {
	text-align: center;
}
#contact h2, #login h2{
	margin-bottom: 20px;
}
#contact form, #login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
#login form a{
	display: block;
	margin: 0 auto; 
	color: #3D3D3D;
	border-bottom: 1px solid #3D3D3D;
}
#contact input, #login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #login label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}
input[type="submit"]:hover{
	background-color: #27806f;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.error{
	padding: 1rem;
	margin: 0.5rem 0;
	color: #ff0000;
	background-color: #ffdfdf;
	border-radius: 2rem;
	text-align: center;
}
/* Edit Mode */
.topbar{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: .5rem;
	padding: .5rem 0;
	background-color: black;
	color: white;
	font-family: 'Syne';
}
.topbar button{
	background-color: white;
	border-radius: 2rem;
	padding: .5rem 1rem;
	cursor: pointer;
}
.topbar button:hover{
	background-color: lightgray;
}
.topbar p{
	display: flex;
}
.edit-icon{
	margin: 0 .5rem;
	content: url(./icons/edit-icon.svg);
	fill: white;
}
button.edit {
    border: none;
    display: flex;
    align-items: center;
    padding: 0;
    position: absolute;
    top: -2.5rem;
}
button.edit i{
	fill: #000000;
	margin-left: 0;
}
